<main class="d-flex justify-content-center align-items-center flex-column login">

    <section class="shadow-lg login-bg boder-login rounded-4 p-5 border border-danger border-2 bg-light">

        <h1 class="text-danger w-100 text-center fw-bolder">LOGIN</h1>
        <mat-divider class="w-100 bg-dark mb-3"></mat-divider>

        <form [formGroup]="loginForm" class="d-flex justify-content-center align-items-center flex-column" (ngSubmit)="login()">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Correo Eléctronico</mat-label>
                <input matInput type="text" oninput="this.value = this.value.toLowerCase()" autocomplete="off" formControlName="email" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contraseña</mat-label>
                <input minlength="6" matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="d-flex justify-content-center align-items-center w-100">
                <button type="submit" class="btn btn-danger w-100">Ingresar</button>
            </div>

        </form>


    </section>


</main>