<main class="container-fluid mt-3">
    <h1 class="w-100 text-center">LISTADO DE FIADOS</h1>
    <mat-divider class="w-100 mb-3"></mat-divider>

    <div class="container-fluid table-scroll shadow-lg p-3 w-100 py-4">
        <div class="w-100 d-flex justify-content-end align-items-center">
            <button (click)="createPerson()" class="btn btn-success px-5 d-flex justify-content-center align-items-center">
                <mat-icon class="mx-2">library_add</mat-icon> Persona
            </button>
        </div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
            <thead class="text-table table-secondary fs-6">
                <tr>
                    <th>ACCIONES</th>
                    <th>NOMBRE</th>
                    <th>TOTAL FIADO</th>
                </tr>
            </thead>
            <tbody class="fs-6">
                @for (person of people; track person.credit_people_id) {
                <tr>
                    <td>
                        <button (click)="updatePerson(person)" class="btn btn-success text-table text-light link-dark m-1">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                    <td> {{ person.credit_people_name }}</td>
                    <td (click)="saveToDetails(person)" class="text-danger text-decoration-underline cursor-pointer link-danger">${{ person.all_credit | number:'1.2-2' }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</main>