<main class="container-fluid mt-3">

    @if (week_info.week_id) {

    <h1 class="w-100 text-center fw-bolder d-flex justify-content-center align-items-center">{{ week_info.week_alias }} - {{ week_info.week_date | date: 'EEEE, d MMMM y' | uppercase }} <button (click)="updateWeek()" class="btn btn-secondary btn-sm mx-2"><mat-icon>edit</mat-icon></button></h1>
    <mat-divider class="w-100 mb-3"></mat-divider>

    @if(section){
    <div class="container-fluid table-scroll shadow-lg px-3 w-100">
        <div class="w-100 d-flex justify-content-between align-items-center mt-2">
            <h3 class="mt-3 fw-bolder">DETALLES - PRODUCTOS</h3>
            <div class="d-flex">
                <button (click)="newDetailWeek()" class="btn btn-success px-5 m-1 d-flex justify-content-center align-items-center">
                    <mat-icon class="mx-2">library_add</mat-icon> Detalle
                </button>
                <button (click)="section=!section" class="btn btn-secondary m-1 px-5 d-flex justify-content-center align-items-center">
                    <mat-icon class="mx-2">autorenew</mat-icon> {{ section ? 'Fiados' :'Detalles' }}
                </button>
            </div>
        </div>
        <hr class="bg-dark">
        <table class="table table-hover">
            <thead class="text-table table-secondary fs-6">
                <tr>
                    <th>ACCIONES</th>
                    <th>PRODUCTO</th>
                    <th>PRECIO COMPRA</th>
                    <th>PRECIO VENTA</th>
                    <th>CANTIDAD</th>
                    <th>GANANCIA UNIDAD</th>
                    <th>GANANCIA TOTAL</th>
                    <th>SUBTOTAL</th>
                </tr>
            </thead>
            <tbody class="fs-6">
                @for(week_detail of week_info.week_details; track week_detail.week_detail_id){
                <tr>
                    <td>
                        <button (click)="updatelWeekDetail(week_detail)" class="m-1 btn btn-success text-table text-light link-dark">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="deletelWeekDetail(week_detail.week_detail_id)" class="m-1 btn btn-danger text-table text-light link-dark">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                    <td> {{ week_detail.week_detail_product_name }} </td>
                    <td> ${{ week_detail.week_detail_product_purchase_price | number:'1.2-2' }} </td>
                    <td> ${{ week_detail.week_detail_product_sale_price | number:'1.2-2' }} </td>
                    <td> x{{ week_detail.week_detail_quantity }} </td>
                    <td> ${{ week_detail.week_detail_product_sale_price - week_detail.week_detail_product_purchase_price | number:'1.2-2' }}</td>
                    <td> ${{ week_detail.profit | number:'1.2-2' }} </td>
                    <td> ${{ week_detail.total | number:'1.2-2' }} </td>
                </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class=" fw-bolder fs-5 ">TOTAL</td>
                    <td></td>
                    <td class="fs-5 fw-bolder text-bg-secondary"> ${{ week_info.total_all | number:'1.2-2'}} </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class=" fw-bolder fs-5 ">TOTAL - FIADOS</td>
                    <td></td>
                    <td class="fs-5 fw-bolder text-bg-secondary"> ${{ week_info.total_all - week_info.total_all_credits | number:'1.2-2'}} </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="fw-bolder fs-5">TOTAL GANANCIAS</td>
                    <td></td>
                    <td class="fs-5 fw-bolder text-bg-secondary"> ${{ week_info.total_profits | number:'1.2-2'}} </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class=" fw-bolder fs-5 ">VALOR CARGA</td>
                    <td></td>
                    <td class="fs-5 fw-bolder text-bg-secondary"> ${{ week_info.burden | number:'1.2-2'}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    }@else {
    <div class="container-fluid table-scroll shadow-lg px-3 w-100 ">
        <div class="w-100 d-flex justify-content-between align-items-center mt-2">
            <h3 class="mt-3 fw-bolder">DETALLES - FIADOS</h3>
            <div class="d-flex">
                <button (click)="createCreditDetail()" class="m-1 btn btn-success px-5 d-flex justify-content-center align-items-center">
                    <mat-icon class="mx-2">library_add</mat-icon> Fiado
                </button>
                <button (click)="section=!section" class="btn btn-secondary m-1 px-5 d-flex justify-content-center align-items-center">
                    <mat-icon class="mx-2">autorenew</mat-icon> {{ section ? 'Fiados' :'Detalles' }}
                </button>
            </div>
        </div>
        <hr class="bg-dark">
        <table class="table table-hover">
            <thead class="text-table table-secondary fs-6">
                <tr>
                    <th>ACCIONES</th>
                    <th>PERSONA</th>
                    <th>DESCRIPCIÓN</th>
                    <th>FIADO</th>
                    <th>ESTADO</th>
                </tr>
            </thead>
            <tbody class="fs-6">
                @for(week_detail of week_info.credit_details; track week_detail.credit_detail_id){
                <tr>
                    <td>
                        <button (click)="updateCreditDetail(week_detail)" class="m-1 btn btn-success text-table text-light link-dark">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="deletelWeekDetailCredit(week_detail.credit_detail_id)" class="m-1 btn btn-danger text-table text-light link-dark">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                    <td> {{ week_detail.credit_people.credit_people_name }} </td>
                    <td> {{ week_detail.credit_detail_description }} </td>
                    <td> ${{ week_detail.credit_detail_value | number:'1.2-2' }} </td>
                    @if (week_detail.credit_detail_status == 1) {
                    <td class="text-danger fw-bolder text-decoration-underline"> PENDIENTE</td>
                    }@else {
                    <td class="text-success fw-bolder text-decoration-underline"> PAGADO</td>
                    }
                </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td class=" fw-bolder fs-5 ">TOTAL</td>
                    <td class="fs-5 fw-bolder text-bg-secondary"> ${{ week_info.total_all_credits | number:'1.2-2'}}
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    } }@else {
    <div class="container mt-5">
        <div class="alert alert-danger text-center" role="alert">
            <strong>No se ha encontrado la información</strong>
        </div>
    </div>
    } @if (week_info.week_id){ }
</main>