<div class="container-fluid p-3">

    <button (click)="close()" type="button" class="position-absolute top-0 end-0 m-2 btn btn-danger">X</button>

    <h3 class="text-danger w-100 text-center">{{ title }} </h3>
    <mat-divider class="w-100 mb-4"></mat-divider>

    <form [formGroup]="product" class="d-flex flex-column position-relative" (submit)="create_update_Product()">

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre:</mat-label>
            <input matInput type="text" oninput="this.value = this.value.toUpperCase()" autocomplete="off" formControlName="product_name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Precio Compra:</mat-label>
            <input matInput type="number" oninput="this.value = this.value.toLowerCase()" autocomplete="off" formControlName="product_purchase_price" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Precio Venta:</mat-label>
            <input matInput type="number" oninput="this.value = this.value.toLowerCase()" autocomplete="off" formControlName="product_sale_price" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Url Imagen:</mat-label>
            <input matInput type="text" oninput="this.value = this.value.toLowerCase()" autocomplete="off" formControlName="product_img" required>
        </mat-form-field>

        <div class="w-100 d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-success px-5">{{ section ? 'Crear Producto' : 'Guardar Cambios' }}</button>
        </div>
    </form>


</div>