<form [formGroup]="detail" (ngSubmit)="createUpdateDetail()" class="container-fluid p-4">

    <h3 class="text-danger w-100 text-center fw-bolder">{{ title }}</h3>

    <h3 class="text-danger w-100 text-center">{{ date | date: 'EEEE, d MMMM y' | uppercase}} </h3>

    <mat-divider class="w-100 mt-3 mb-4"></mat-divider>

    <div class="w-100 d-flex justify-content-between align-items-start flex-wrap">
        <mat-form-field appearance="outline" class="col">
            <mat-label>Producto</mat-label>
            <input matInput type="text" autocomplete="off" min="1" readonly formControlName="product_name" required>
        </mat-form-field>
        <button (click)="selectProduct()" [disabled]="!section" type="button" class="btn btn-secondary m-2 col-auto d-flex justify-content-center align-items-center"><mat-icon>{{ detail.value.product_id ? 'autorenew' : 'search' }}</mat-icon>{{ detail.value.product_id ? 'Cambiar' : 'Seleccionar' }}</button>
    </div>

    <mat-divider class="w-100 mb-4"></mat-divider>

    <mat-form-field appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" autocomplete="off" min="1" formControlName="week_detail_quantity" required>
    </mat-form-field>

    <mat-divider class="w-100 mb-4"></mat-divider>

    <div class="w-100 d-flex justify-content-around align-items-center flex-wrap mt-3 mb-2">
        <button type="button" (click)="close()" class="btn btn-dark px-4 m-1 d-flex justify-content-center align-items-center"><mat-icon class="mx-1">cancel</mat-icon>Cancelar</button>
        <button type="submit" [disabled]="detail.invalid" class="btn btn-success px-4 m-1 d-flex justify-content-center align-items-center"><mat-icon class="mx-1">save</mat-icon>{{ section ? 'Detalle' : 'Cambios' }}</button>
    </div>

</form>