<form [formGroup]="week" (ngSubmit)="create_update_Week()" class="container-fluid p-3">

    <h3 class="text-danger w-100 text-center mb-0 fw-bolder">{{ title }} </h3>

    <mat-divider class="w-100 my-3"></mat-divider>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>ALIAS:</mat-label>
        <input matInput type="text" oninput="this.value = this.value.toUpperCase()" autocomplete="off" formControlName="week_alias" required>
    </mat-form-field>

    <div class="w-100 d-flex justify-content-center align-items-center flex-column">
        <label for="date" class="w-100 fw-bolder mb-2">FECHA</label>
        <input (change)="updateDate($event)" [min]="today" type="date" class="w-100 form-control" formControlName="week_date" name="date" id="date" required>
    </div>

    <mat-divider class="w-100 my-3"></mat-divider>

    <div class="w-100 d-flex justify-content-around align-items-center flex-wrap mt-3 mb-2">
        <button type="button" (click)="close()" class="btn btn-dark px-4 m-1 d-flex justify-content-center align-items-center"><mat-icon class="mx-1">cancel</mat-icon>Cancelar</button>
        <button type="submit" [disabled]="week.invalid" class="btn btn-success px-4 m-1 d-flex justify-content-center align-items-center"><mat-icon class="mx-1">save</mat-icon>{{ section ? 'Semana' : 'Cambios' }}</button>
    </div>

</form>