<main class="container-fluid mt-3">

    <h1 class="w-100 text-center">{{ info.credit_people_name }}</h1>

    <mat-divider class="w-100 mb-3"></mat-divider>

    <div class="container-fluid table-scroll shadow-lg px-3 w-100 pb-4">

        <h3 class="mt-3 fw-bolder">CRÉDITOS</h3>

        <hr class="bg-dark">

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
            <thead class="text-table table-secondary fs-6">
                <tr>
                    <th>ACCIONES</th>
                    <th>DESCRIPCIÓN</th>
                    <th>FIADO</th>
                    <th>ESTADO</th>
                </tr>
            </thead>
            <tbody class="fs-6">
                @for(week_detail of info.credit_detail; track week_detail.credit_detail_id){
                <tr>
                    <td>
                        <button (click)="updateCreditDetail(week_detail)" class="m-1 btn btn-sm btn-success text-table text-light link-dark m-2">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="deletelWeekDetailCredit(week_detail.credit_detail_id)" class="m-1 btn btn-sm btn-danger text-table text-light link-dark m-2">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                    <td> {{ week_detail.credit_detail_description }} </td>
                    <td> ${{ week_detail.credit_detail_value | number:'1.2-2' }} </td>
                    @if (week_detail.credit_detail_status == 1) {
                    <td class="text-danger fw-bolder text-decoration-underline"> PENDIENTE</td>
                    }@else {
                    <td class="text-success fw-bolder text-decoration-underline"> PAGADO</td>
                    }
                </tr>
                }
            </tbody>
        </table>

    </div>

</main>