<div class="w-100 p-4">

    <button (click)="close()" type="button" class="position-absolute top-0 end-0 m-2 btn btn-danger border border-dark">X</button>

    <h3 class="text-danger w-100 text-center fw-bolder">ENTIDADES</h3>

    <mat-divider class="w-100 my-3"></mat-divider>

    <div class="mb-3 w-100">
        <input type="text" placeholder="Buscar" class="form-control w-100" (input)="filterPerson($event)">
    </div>

    @for (person of people; track person.credit_people_id ) {

    <div (click)="savePerson(person)" class="w-100 bg-selected px-3 rounded-2 m-1 d-flex justify-content-between align-items-center flex-wrap pointer">
        <p class="py-3 m-0 fw-bolder">{{ person.credit_people_name }}</p>
        <p class="py-3 m-0 text-primary text-decoration-underline">Seleccionar</p>
    </div>

    <mat-divider class="w-100"></mat-divider>
    }

</div>